<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>

<body>
<div th:replace="/fragments/header :: header"/>

<!-- Page Header -->
<header class="masthead" th:style="'background-image: url(' + @{~/img/home-bg.jpg} + ')'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 th:text="${user.username} + ' gallery' ">Welcome</h1>
                    <span class="subheading">Blog user gallery page</span>
                </div>
            </div>
        </div>
    </div>
</header>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" th:each="id : ${image_id}">
            <img id="img" class="w-100 shadow-1-strong rounded mb-4 " th:src="@{'~/users/{username}/gallery/{id}'(username=${user.username}, id=${id})}">
        </div>
    </div>
</div>

<hr>

<!-- Footer -->

<div th:replace="/fragments/footer :: footer"/>

</body>

</html>
