<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/404.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">Message</span>
                </div>
            </div>
        </div>
    </div>
</header>
</div>

<!-- Main Content -->
<div class="container">
    <h3 th:text="${message}">message</h3>
</div>

<hr>

<!-- Footer -->

<div th:replace="fragments/footer :: footer"/>

</body>

</html>
